#bt1{
  background-color:red;
  width: 100px;
  height: 100px;
  float: left;
}


#bt2{
  background-color:blue;
  width: 100px;
  height: 100px;
  float: right;
}


#boneco{
  position: absolute;
  width: 100px;
  height: 100px;
  left:100px;
  top:20px;
}


.controlos{
  width: 90%;
  height: 100px;
  margin: 0 auto;
  position: relative;
  border: 1px solid black;
}

.areadejogo{
  width: 90%;
  height: 400px;
  margin: 0 auto;
  position: relative;
  border: 1px solid red;
}